/* Body styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height of the body to full viewport height */
  background: linear-gradient(135deg, #faf5e5, #bdbdda, #e6cfe6);
  background-size: 400% 400%; /* This is important to make the gradient animate */
  animation: gradientBackground 10s ease infinite; /* The animation to apply */
}

/* Define the keyframes for the gradient animation */
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Container */
.container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  background: #ffffff; 
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

/* Form */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Inputs */
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button {
  padding: 10px 20px;
  background: #4CAF50; /* Green */
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #45a049; /* Darker Green */
}

/* Select Menu (Simplified) */
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #4CAF50; /* Green on Focus */
}

#button-container{
  display: flex;
  justify-content: space-between;
}

/* Notification Styling */
.notification {
  position: fixed;
  top: 20px;
  right: -300px; /* Hidden off-screen */
  width: auto;
  max-width: 300px;
  background-color: #007bff; /* Blue */
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  z-index: 1000;
  transition: right 0.5s ease-in-out; /* Smooth slide-in and out */
}

/* Loading spinner */
.loading-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Show class for notification */
.notification.show {
  right: 20px; /* Visible position */
}


#downloadButton {
padding: 10px 20px;
font-size: 1rem;
background: #4c82af;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background 0.3s ease;
/* display: none; */
}

#downloadButton:hover {
background: #056e97; 
}


.btn-history{
  position: absolute;
  right: 5%;
  background: #b1640d;
  color: white;
}


.btn-history:hover{
  background: #834a0a;
}



.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: none;
  max-height: 30rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1em;
  border-radius: 5px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.modal.show {
  display: block;
}

#close-modal {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 3px;
}

#close-modal:hover {
  background: #0056b3;
}


.history-item {
  background: #ffffff;
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.history-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.history-item-header {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.75em;
}

.history-item-content {
  font-size: 1em;
  color: #555;
  margin-bottom: 1.5em;
}

.history-item-content div {
  margin-bottom: 0.5em;
}

.history-files {
  list-style: none;
  padding-left: 0;
}

.history-file {
  padding: 1em;
  margin: 0.5em 0;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background 0.3s ease;
}

.history-file:hover {
  background: #f1f1f1;
}

.history-file strong {
  color: #333;
  font-weight: normal;
}

.history-file:last-child {
  margin-bottom: 0;
}

.history-item .history-files li:not(:last-child) {
  margin-bottom: 1em;
}
